ul{
    list-style-type: none;
    display: flex;  
    justify-content: space-around;
    width:25rem;
    font-weight: bold;
    
}
.nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 4rem;
    padding: 0;
    margin: 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
   background-color: white;

}
.nav_link_div{
   margin-top: -15px;
   display: flex;
   flex-direction: row;
}
ul li{
    cursor: pointer;
    padding: 1rem;
    color: #003057;

}
ul .header_li:hover{
    background-color: #F9F9F9;
    border-bottom: 4px solid #003057;
}
.img_div{
    border:5px solid white;
    border-radius: 15px;
    height: fit-content;
    display: flex;
    align-items: center;
    margin-top: 10px;
    overflow: hidden;
    
}
.hamburger_img_div{
margin-top: 1.5rem;
display: none;
}
.hamburger_close_img_div{
    margin-top: 1.8rem;
    display: none;
}
.div1{
display: none;
}

@media screen and (max-width: 822px) {
.nav_list{
    display: none;
}
.nav{
    background-color: #003057;
    padding: 10px;
}
.hamburger_img_div{
    display: block;

}
.div1{
    display: block;
    }
}


